*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
}
clearfix::after{
    content: '';
    clear: both;
    display: table;
}
img{
    max-width: 100%;
}
a{
    color: white;
}
.col-lg-12>hr{
    border: 2px solid black ;
    margin: 20px auto;
}
.col-lg-1{
    float: left;
}
.col-lg-2{
    float: left;
}
.col-lg-3{
    float: left;
}
.col-lg-4{
    float: left;
}
.col-lg-5{
    float: left;
}
.col-lg-6{
    float: left;
}
.col-lg-7{
    float: left;
}
.col-lg-8{
    float: left;
}
.col-lg-9{
    float: left;
}
.col-lg-10{
    float: left;
}
.col-lg-11{
    float: left;
}
.col-lg-12{
    float: left;
}

.content{
    background-color: rgb(57, 135, 167);
}
header{
    padding: 20px 10px;

}
/* Header section start */

.col-lg-3>img{
    border-radius: 50%;
}
.col-lg-4 {
    margin-top: 50px;
    
}
.col-lg-5{
    margin-top: 50px;
    padding-left: 120px;
}
.col-lg-5 p{
}
.col-lg-5 a{
}
.col-lg-5 a:hover{
    color: orange;
}
/* Header section end */


/* main section start from here */

.personal-section .col-lg-6 p{
    font-size: 13px;
}

/* main section end here */


/* footter section start */

.footer-section{
    background-color: #555;
    padding: 10px;
}
.footer-section .col-lg-6 i{
    margin-top: 15px;
    padding: 0 20px;
}

/* footter section end */